.home-nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFC017;
    border-bottom: 2px solid black;
    z-index: 1;
}

.logo {
    width: 200px;
    height: calc(60px - 1rem);
    background-size: cover;
    background-position: center center;
    background-image: url('../../../assets/logo.png');
}
