.article-secondary-heading {
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: inherit;
    resize: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.element-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}


.element-container textarea {
    padding: 0 1rem;
}

.element-container textarea:focus {
    outline: 3px dotted black;
}