.article-underline{
    border-bottom: 2px solid lightgrey;
    margin-right: auto;
    width: calc(100% - 1.5rem - 25px);   
}

.article-underline-container{
    height: calc(25px + 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
}